<div class="container">
  <h1>Bootcamp Enrollment form</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    {{userForm.value | json}}
    {{userModel | json}}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" id="name" name="name" [(ngModel)]="userModel.name" required>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" [(ngModel)]="userModel.email" required>
      <div *ngIf="email.errors && (email.invalid || email.untouched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Please give your valid email address</small>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" id="phone" name="phone" [(ngModel)]="userModel.phone" required>
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number required and must be 10 digit</small> -->
      <div *ngIf="phone.errors && (phone.invalid || phone.untouched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be in 10 digit</small>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Topic</label>
      <select class="form-control" (blur)="topicValidate(topic.value)" (change)="topicValidate(topic.value)" [class.is-invalid]="topicHasError && topic.touched" #topic="ngModel" id="exampleFormControlSelect1" name="exampleFormControlSelect1" [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched" >Please choose the topic</small>
    </div>
    <div class="mb-3">
      <label>Time Preparence</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="morning" [(ngModel)]="userModel.timePreperance" checked>
        <label class="form-check-label" for="exampleRadios1">
          Morning(9AM - 12AM)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="evening" [(ngModel)]="userModel.timePreperance">
        <label class="form-check-label" for="exampleRadios2">
          Evening(7PM - 10PM)
        </label>
      </div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="exampleCheck1" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label" for="exampleCheck1">Send me promotional offer</label>
    </div>
    <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>